.card {
    font-family: 'Satoshi-Bold';

    .thumbnail_error {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        background-color: white;
        border: 2px solid red;
        width: 200px;
        height: 300px;
        border-radius: 7px;
        display: block;
        align-content: center;
        text-align: center;
    }

    .retry {
        background-color: red;
        border-radius: 7px;
        margin-top: 10px;
        height: 35px;
        width: 200px;
        color: white;
        border: 0;
        cursor: pointer;
        font-family: inherit;
    }
}